
@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-Medium.eot');
 src: local('DIN Pro Medium'), local('DINPro-Medium'),
 url('../fonts/DINPro/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-Medium.woff') format('woff'),
 url('../fonts/DINPro/DINPro-Medium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedMedium.eot');
 src: local('DIN Pro Condensed Medium'), local('DINPro-CondensedMedium'),
 url('../fonts/DINPro/DINPro-CondensedMedium.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedMedium.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedMedium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-Bold.eot');
 src: local('DIN Pro Bold'), local('DINPro-Bold'),
 url('../fonts/DINPro/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
 url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-Light.eot');
 src: local('DIN Pro Light'), local('DINPro-Light'),
 url('../fonts/DINPro/DINPro-Light.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-Light.woff') format('woff'),
 url('../fonts/DINPro/DINPro-Light.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro.eot');
 src: local('DIN Pro'), local('DINPro'),
 url('../fonts/DINPro/DINPro.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro.woff') format('woff'),
 url('../fonts/DINPro/DINPro.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedBlack.eot');
 src: local('DIN Pro Condensed Black'), local('DINPro-CondensedBlack'),
 url('../fonts/DINPro/DINPro-CondensedBlack.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedBlack.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedBlack.ttf') format('truetype');
 font-weight: 900;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedBold.eot');
 src: local('DIN Pro Condensed Bold'), local('DINPro-CondensedBold'),
 url('../fonts/DINPro/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedBold.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedBold.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-Black.eot');
 src: local('DIN Pro Black'), local('DINPro-Black'),
 url('../fonts/DINPro/DINPro-Black.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-Black.woff') format('woff'),
 url('../fonts/DINPro/DINPro-Black.ttf') format('truetype');
 font-weight: 900;
 font-style: normal;
}


@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedRegular.eot');
 src: local('DIN Pro Condensed Regular'), local('DINPro-CondensedRegular'),
 url('../fonts/DINPro/DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedRegular.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedRegular.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}


@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedLight.eot');
 src: local('DIN Pro Condensed Light'), local('DINPro-CondensedLight'),
 url('../fonts/DINPro/DINPro-CondensedLight.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedLight.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedLight.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
}


/*

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-BlackItalic.eot');
 src: local('DIN Pro Black Italic'), local('DINPro-BlackItalic'),
 url('../fonts/DINPro/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-BlackItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-BlackItalic.ttf') format('truetype');
 font-weight: 900;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedBlackItalic.eot');
 src: local('DIN Pro Condensed Black Italic'), local('DINPro-CondensedBlackItalic'),
 url('../fonts/DINPro/DINPro-CondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedBlackItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedBlackItalic.ttf') format('truetype');
 font-weight: 900;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-MediumItalic.eot');
 src: local('DIN Pro Medium Italic'), local('DINPro-MediumItalic'),
 url('../fonts/DINPro/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-MediumItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-MediumItalic.ttf') format('truetype');
 font-weight: 500;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedMediumItalic.eot');
 src: local('DIN Pro Condensed Medium Italic'), local('DINPro-CondensedMediumItalic'),
 url('../fonts/DINPro/DINPro-CondensedMediumItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedMediumItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedMediumItalic.ttf') format('truetype');
 font-weight: 500;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-Italic.eot');
 src: local('DIN Pro Italic'), local('DINPro-Italic'),
 url('../fonts/DINPro/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-Italic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-Italic.ttf') format('truetype');
 font-weight: 400;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-LightItalic.eot');
 src: local('DIN Pro Light Italic'), local('DINPro-LightItalic'),
 url('../fonts/DINPro/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-LightItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-LightItalic.ttf') format('truetype');
 font-weight: 300;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedBoldItalic.eot');
 src: local('DIN Pro Condensed Bold Italic'), local('DINPro-CondensedBoldItalic'),
 url('../fonts/DINPro/DINPro-CondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedBoldItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedBoldItalic.ttf') format('truetype');
 font-weight: bold;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedItalic.eot');
 src: local('DIN Pro Condensed Italic'), local('DINPro-CondensedItalic'),
 url('../fonts/DINPro/DINPro-CondensedItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedItalic.ttf') format('truetype');
 font-weight: 400;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro Cond';
 src: url('../fonts/DINPro/DINPro-CondensedLightItalic.eot');
 src: local('DIN Pro Condensed Light Italic'), local('DINPro-CondensedLightItalic'),
 url('../fonts/DINPro/DINPro-CondensedLightItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-CondensedLightItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-CondensedLightItalic.ttf') format('truetype');
 font-weight: 300;
 font-style: italic;
}

@font-face {
 font-family: 'DIN Pro';
 src: url('../fonts/DINPro/DINPro-BoldItalic.eot');
 src: local('DIN Pro Bold Italic'), local('DINPro-BoldItalic'),
 url('../fonts/DINPro/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
 url('../fonts/DINPro/DINPro-BoldItalic.woff') format('woff'),
 url('../fonts/DINPro/DINPro-BoldItalic.ttf') format('truetype');
 font-weight: bold;
 font-style: italic;
}

*/