$color_text_purple_darker: #330F4E;
$color_text_purple_dark: #4B1E6D;
$color_text_purple_normal: #4D1D76;
$color_text_purple_light: #7D36BB;

$color_text_yellow_normal: #FDCA12;

$color_text_blue_darker: #1F343E;
$color_text_blue_dark: #1D333D;
$color_text_blue_normal: #527B8C;
$color_text_blue_light: #278d97;
$color_text_blue_lighter: #CEEDF0;

$path_img: "../img/";
$family_base: 'DIN Pro', sans-serif;
$family_alt: 'DIN Pro Cond', sans-serif;

@mixin do_p_e_none {
  webkit-pointer-events:none; pointer-events: none;
}
@mixin do_p_e_auto {
  webkit-pointer-events:auto; pointer-events: auto;
}

@mixin do_select_none {
  -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

@mixin pos_img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@mixin fill_img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@mixin new_flex ($dir, $justify, $align, $wrap) {
  display:-ms-flexbox;
  display:flex;

  @if $dir == r {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }

  @if $justify == s {
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else if $justify == e {
    -ms-flex-pack: end;
    justify-content: flex-end;
  } @else if $justify == c {
    -ms-flex-pack: center;
    justify-content: center;
  } @else if $justify == j {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  @if $align == s {
    -ms-flex-align: start;
    align-items: flex-start;
  } @else if $align == e {
    -ms-flex-align: end;
    align-items: flex-end;
  } @else if $align == c {
    -ms-flex-align: center;
    align-items: center;
  }@else if $align == sh {
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  @if $wrap == 0 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@mixin new_inflex ($dir, $justify, $align, $wrap) {
  display:-ms-inline-flexbox;
  display:inline-flex;

  @if $dir == r {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }

  @if $justify == s {
    -ms-flex-pack: start;
    justify-content: flex-start;
  } @else if $justify == e {
    -ms-flex-pack: end;
    justify-content: flex-end;
  } @else if $justify == c {
    -ms-flex-pack: center;
    justify-content: center;
  } @else if $justify == j {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  @if $align == s {
    -ms-flex-align: start;
    align-items: flex-start;
  } @else if $align == e {
    -ms-flex-align: end;
    align-items: flex-end;
  } @else if $align == c {
    -ms-flex-align: center;
    align-items: center;
  }@else if $align == sh {
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  @if $wrap == 0 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  } @else {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}