.btn_simple {
  & {display: inline-block; vertical-align: middle; transition: all .2s linear; font-size:0; font-weight: normal; text-align: center; line-height: 58px; padding: 0 8px;
    @include do_select_none(); cursor: pointer; border-radius: 5px; position: relative;}
  & > .btn_text {display: inline-block; vertical-align: middle; font:900 16px/1.2 $family_alt; color:$color_text_yellow_normal;
    padding: 5px 0; text-transform:uppercase; position: relative; z-index: 2;}
  &:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-sizing: border-box; border-radius: 5px; transition: all .2s linear; opacity: 0; z-index: 0; display: block;}
  &:hover:before {opacity: 1;}
  &._purple {
    background: -moz-linear-gradient(90deg, rgb(161, 28, 223) 0%, rgb(91, 20, 124) 100%);
    background: -webkit-linear-gradient(90deg, rgb(161, 28, 223) 0%, rgb(91, 20, 124) 100%);
    background: -o-linear-gradient(90deg, rgb(161, 28, 223) 0%, rgb(91, 20, 124) 100%);
    background: -ms-linear-gradient(90deg, rgb(161, 28, 223) 0%, rgb(91, 20, 124) 100%);
    background: linear-gradient(180deg, rgb(161, 28, 223) 0%, rgb(91, 20, 124) 100%);
  }
  &._purple:before {
    background: -moz-linear-gradient(90deg, rgb(144, 0, 211) 0%, rgb(82, 0, 120) 100%);
    background: -webkit-linear-gradient(90deg, rgb(144, 0, 211) 0%, rgb(82, 0, 120) 100%);
    background: -o-linear-gradient(90deg, rgb(144, 0, 211) 0%, rgb(82, 0, 120) 100%);
    background: -ms-linear-gradient(90deg, rgb(144, 0, 211) 0%, rgb(82, 0, 120) 100%);
    background: linear-gradient(180deg, rgb(144, 0, 211) 0%, rgb(82, 0, 120) 100%);
  }
}
.rss_line {
  & {@include new_flex(r,s,c,1); margin: -3px; @include do_select_none();}
}
.rss_line_item {
  & {-ms-flex: 0 0 auto; flex:0 0 auto; padding: 3px;}
}
.rss_unit {
  & {cursor: pointer; border-radius: 50%; position: relative; display: block; width: 24px; height: 24px; opacity: 1; transition: all .2s linear;}
  & > img {display: block; width: 100%; height: 100%; border-radius: 50%; object-fit: contain; object-position: 50% 50%; position: absolute; top: 0; left: 0;}
  &:hover {opacity:.75;}
}

.btn_light {
  & {display: inline-block; vertical-align: middle; font-size: 0; font-weight: normal; text-align: center; line-height: 92px; padding: 0 10px; cursor: pointer;
    @include do_select_none(); border-radius: 8px; transition: all .2s linear; box-shadow: 0 15px 18px -10px rgba(0,0,0,.5); position: relative;
    background: -moz-linear-gradient(90deg, rgb(255, 215, 0) 0%, rgb(255, 163, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 215, 0) 0%, rgb(255, 163, 0) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 215, 0) 0%, rgb(255, 163, 0) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 215, 0) 0%, rgb(255, 163, 0) 100%);
    background: linear-gradient(180deg, rgb(255, 215, 0) 0%, rgb(255, 163, 0) 100%);
  }
  & > .btn_text {display: inline-block; vertical-align: middle; color:$color_text_purple_dark;  font:900 24px/1  $family_alt;
    text-transform: uppercase; letter-spacing: 0.05em; padding: 5px 0; position: relative; z-index: 2; letter-spacing: .01em;}
  &:after {content: ''; display: block; height: 6px; width: 100%; background: #FF8600; border-radius:0 0 8px 8px;
    @include do_p_e_none(); bottom: 0; left: 0; position: absolute;}
  &:before { content: ''; transition: all .2s linear; display: block; @include do_p_e_none(); width: 100%; height: 100%; top: 0; left: 0; border-radius:8px; position: absolute;
    opacity: 0;
    background: -moz-linear-gradient(90deg, rgb(222, 189, 0) 0%, rgb(219, 139, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgb(222, 189, 0) 0%, rgb(219, 139, 0) 100%);
    background: -o-linear-gradient(90deg, rgb(222, 189, 0) 0%, rgb(219, 139, 0) 100%);
    background: -ms-linear-gradient(90deg, rgb(222, 189, 0) 0%, rgb(219, 139, 0) 100%);
    background: linear-gradient(180deg, rgb(222, 189, 0) 0%, rgb(219, 139, 0) 100%);
  }
  &:hover:before {opacity: 1;}
}

.btn_light._yellow {
  background: -moz-linear-gradient(90deg, rgb(255, 235, 0) 0%, rgb(255, 217, 0) 100%);
  background: -webkit-linear-gradient(90deg, rgb(255, 235, 0) 0%, rgb(255, 217, 0) 100%);
  background: -o-linear-gradient(90deg, rgb(255, 235, 0) 0%, rgb(255, 217, 0) 100%);
  background: -ms-linear-gradient(90deg, rgb(255, 235, 0) 0%, rgb(255, 217, 0) 100%);
  background: linear-gradient(180deg, rgb(255, 235, 0) 0%, rgb(255, 217, 0) 100%);
  &:after {background: #FFAF00;}
}
.btn_light._yellow:before {
  background: -moz-linear-gradient(90deg, rgb(255,215,0) 0%, rgb(255,188,65) 100%);
  background: -webkit-linear-gradient(90deg, rgb(255,215,0) 0%, rgb(255,188,65) 100%);
  background: -o-linear-gradient(90deg, rgb(255,215,0) 0%, rgb(255,188,65) 100%);
  background: -ms-linear-gradient(90deg, rgb(255,215,0) 0%, rgb(255,188,65) 100%);
  background: linear-gradient(180deg, rgb(255,215,0) 0%, rgb(255,188,65) 100%);
}

.page_title {font:700 44px/1.2 $family_alt; text-transform: uppercase; letter-spacing: 0.01em; }
@media (max-width: 1000px) {
  .page_title {font-size: 40px;}
}
@media (max-width: 700px) {
  .page_title {font-size: 36px;}
}
@media (max-width: 500px) {
  .page_title {font-size: 32px;}
}

.page_title_big {font:900 70px/1.1 $family_alt; text-transform: uppercase; letter-spacing: 0.01em; }
@media (max-width: 1000px) {
  .page_title_big {font-size: 55px;}
}
@media (max-width: 700px) {
  .page_title_big {font-size: 45px;}
}
@media (max-width: 500px) {
  .page_title_big {font-size: 40px;}
}

.page_title_middle {font:900 60px/1.17 $family_alt; text-transform: uppercase; letter-spacing: 0.01em;}
@media (max-width: 1200px) {
  .page_title_middle {font-size: 50px;}
}
@media (max-width: 700px) {
  .page_title_middle {font-size: 40px;}
}
@media (max-width: 500px) {
  .page_title_middle {font-size: 35px;}
}

/*элементы формы*/
.check_block {
  & {position: relative; display: table; padding-left: 42px; cursor: pointer; @include do_select_none();}
  &  > input {display: none;}
  & > .icon {display: block; width: 20px; height: 20px; background: #FFF; transition: all .2s linear; position: absolute; top: 0; left: 0;}
  &._dark .icon {background: #B5F3F7;}
  & > input:checked ~ .icon, &._dark > input:checked ~ .icon {background: $color_text_yellow_normal;}
  & > .text {text-align: left; font:400 21px/1 $family_base; color:#FFF;}
  &._dark > .text {color:#3B145D;}
}


/*scrollbar*/
.scrollbar_wrap {position: relative; overflow: auto;}
.scrollbar_sun {
  & .scroll-element.scroll-y {background: rgba(255,255,255,1); width: 6px; border-radius: 0 !important;}
  & > .scroll-element .scroll-element_outer,
  & > .scroll-element .scroll-element_track,
  & > .scroll-element .scroll-bar {border-radius: 0 !important; opacity: 1 !important; cursor: pointer;}
  //&  .scroll-element .scroll-bar  {background: #A7D0D2 !important;}
  & > .scroll-element .scroll-element_outer {overflow: visible !important;}
  & > .scroll-element .scroll-element_track {background: #FFF !important;}
  &  .scroll-bar:after {content: ''; box-sizing: border-box; border-radius: 50%; width: 22px; height: 22px;
    background: rgb(255, 219, 0);
    background: -moz-linear-gradient(90deg, rgb(255, 219, 0) 0%, rgb(255, 191, 35) 95%);
    background: -webkit-linear-gradient(90deg, rgb(255, 219, 0) 0%, rgb(255, 191, 35) 95%);
    background: -o-linear-gradient(90deg, rgb(255, 219, 0) 0%, rgb(255, 191, 35) 95%);
    background: -ms-linear-gradient(90deg, rgb(255, 219, 0) 0%, rgb(255, 191, 35) 95%);
    background: linear-gradient(180deg, rgb(255, 219, 0) 0%, rgb(255, 191, 35) 95%);
    position: absolute; top: 0; left:50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);
    box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.5); display: none;
  }

  & > .scroll-element.scroll-y {right: 14px !important;}
  & .scroll-content .scrollbar_inner_box {padding-right: 35px;}

  & .scroll-element  .scroll-bar {
    background: rgb(255, 219, 0) !important;
  }
}

/*btn_solo*/
.btn_solo {display: inline-block; vertical-align: middle; min-width: 312px; padding: 0 80px 0 30px; line-height: 92px; position: relative; text-align: left;
  background: -moz-linear-gradient(90deg, rgb(172, 47, 228) 0%, rgb(93, 21, 128) 100%);
  background: -webkit-linear-gradient(90deg, rgb(172, 47, 228) 0%, rgb(93, 21, 128) 100%);
  background: -o-linear-gradient(90deg, rgb(172, 47, 228) 0%, rgb(93, 21, 128) 100%);
  background: -ms-linear-gradient(90deg, rgb(172, 47, 228) 0%, rgb(93, 21, 128) 100%);
  background: linear-gradient(180deg, rgb(172, 47, 228) 0%, rgb(93, 21, 128) 100%);
  border-radius:8px; border-bottom:5px solid rgba(59,2,90,1); box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
}

.btn_solo:hover {
  background: -moz-linear-gradient(90deg, rgb(158, 8, 228) 0%, rgb(71, 0, 107) 95%);
  background: -webkit-linear-gradient(90deg, rgb(158, 8, 228) 0%, rgb(71, 0, 107) 95%);
  background: -o-linear-gradient(90deg, rgb(158, 8, 228) 0%, rgb(71, 0, 107) 95%);
  background: -ms-linear-gradient(90deg, rgb(158, 8, 228) 0%, rgb(71, 0, 107) 95%);
  background: linear-gradient(180deg, rgb(158, 8, 228) 0%, rgb(71, 0, 107) 95%);
}



.btn_solo > .btn_text {display: inline-block; vertical-align: middle; text-align: left; color:#FDCA12; font:500 20px/1.2 $family_alt; text-transform: uppercase;}
.btn_solo > .btn_text b {display: block; font-size: 1.5em; font-weight: 900;}
.btn_solo_icon {border-radius: 50%; display: block; width: 45px; height: 45px; box-shadow: 0 0 2px 0 rgba(255,255,255,.2), 0 0 0 1px rgba(83,0,128,.5) inset;position: absolute; top: 50%; right: 26px;
  -webkit-transform: translateY(-50%); transform: translateY(-50%);
  background: -moz-linear-gradient(90deg, rgb(82, 0, 127) 0%, rgb(154, 26, 215) 100%);
  background: -webkit-linear-gradient(90deg, rgb(82, 0, 127) 0%, rgb(154, 26, 215) 100%);
  background: -o-linear-gradient(90deg, rgb(82, 0, 127) 0%, rgb(154, 26, 215) 100%);
  background: -ms-linear-gradient(90deg, rgb(82, 0, 127) 0%, rgb(154, 26, 215) 100%);
  background: linear-gradient(180deg, rgb(82, 0, 127) 0%, rgb(154, 26, 215) 100%);
}
.btn_solo_icon:after {content: ''; box-sizing: border-box; width: 10px; height: 10px; display: block; transform: rotate(45deg);
  border-top: 3px solid $color_text_yellow_normal; border-right: 3px solid $color_text_yellow_normal; left: 15px; position: absolute; top: 17px;
}

@media (max-width: 400px) {
  .btn_solo {padding: 0 70px 0 16px;}
  .btn_solo_icon {right: 16px;}
}

.slider_btn_round {
  & {background: #FFF; display: block; width: 30px; height: 30px; border-radius: 50%; position: relative; cursor: pointer; @include do_select_none(); transition: all .2s linear; opacity: 1;}
  &:hover {opacity: .75;}
  & > img {display: block; position: absolute; width: auto; height: auto; max-width: 90%; max-height: 90%; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
  &._prev > img {-webkit-transform: scale(-1, 1); transform: scale(-1, 1);}
}


.btn_play_unit {
  & {@include new_inflex(r,s,s,0); max-width: 100%; @include do_select_none(); cursor: pointer;}
  & > .play_icon {-ms-flex: 0 0 auto; flex:0 0 auto; width: 75px; height: 60px; border-radius: 10px; position: relative; display: block;
    background: -moz-linear-gradient(90deg, rgb(0, 170, 181) 0%, rgb(0, 122, 130) 85%);
    background: -webkit-linear-gradient(90deg, rgb(0, 170, 181) 0%, rgb(0, 122, 130) 85%);
    background: -o-linear-gradient(90deg, rgb(0, 170, 181) 0%, rgb(0, 122, 130) 85%);
    background: -ms-linear-gradient(90deg, rgb(0, 170, 181) 0%, rgb(0, 122, 130) 85%);
    background: linear-gradient(180deg, rgb(0, 170, 181) 0%, rgb(0, 122, 130) 85%);
    box-shadow: 0 10px 15px -10px rgba(0,146,155,1); transition: all .2s linear;
  }
  & > .play_icon img {display: block; width: auto; height: auto; top: 0; left: 0; right: 0; bottom: 0; margin: auto; position: absolute;
    -webkit-transform: translateX(15%); transform: translateX(15%);}
  & > .play_desc {padding-left: 22px; align-self: center; font:700 16px/1.2 $family_base; color:$color_text_blue_light;
    text-decoration: underline; text-decoration-color: $color_text_blue_light; transition: all .2s linear; display: block;}
  &:hover > .play_icon {box-shadow: 0 0 0 0 transparent;}
  &:hover > .play_desc {text-decoration-color: transparent;}
}

.label_name_master {
  & {@include do_p_e_none(); position: absolute;  z-index: 4; @include new_flex(c,s,s,0);}
  & > .name {position: relative; z-index: 3;}
  & > .spec {position: relative; z-index: 1; margin-top: -5px; margin-left: 52px;}
  & > .name > p {font:italic 700 17px/17px $family_alt; color:#5F1F8F; position: relative; z-index: 2; padding: 8px 10px;}
  & > .spec > p {font:italic 400 17px/17px $family_alt; color:#FFF; position: relative; z-index: 2; padding: 8px 10px;}
  & > .name, & > .spec {position: relative;}
  & > .name:before, & > .spec:before {content: ''; display: block; position: absolute; @include do_p_e_none(); top: 0; left: 0; border-radius: 4px;
    box-sizing: border-box; width: 100%; height: 100%; -webkit-transform: skewX(-10deg); transform: skewX(-10deg);}
  & > .name:before {background: #FFF;}
  & > .spec:before {background: #9033BF;}
}

@media (max-width: 1080px) {
  .main_master_layer {height: 580px; left:148px;}
}

/*elements of form*/

.input {display: block; position: relative;}

.input input {
  & {display: block; position: relative; width: 100%; height: 68px; padding: 0 35px; text-align: left; color: #FDCB13; border-radius: 5px; background: #9033BF;
    font:400 18px/1.2 $family_base; transition:all .2s linear; border:2px solid transparent;
  }
  &.invalid {border: 2px solid #FF001E; };
  &::-webkit-input-placeholder {opacity: 1; color: #FDCB13;}
  &::-moz-placeholder {opacity: 1; color: #FDCB13;}
  &:-ms-input-placeholder {opacity: 1; color: #FDCB13;}
  &:-moz-placeholder {opacity: 1; color: #FDCB13;}
  &:focus::-webkit-input-placeholder {opacity: 0;}
  &:focus::-moz-placeholder {opacity: 0;}
  &:focus:-ms-input-placeholder {opacity: 0;}
  &:focus:-moz-placeholder {opacity: 0;}
}
.input._dark input {background: #721E9E;}
@media (max-width: 500px) {
  .input input {padding: 0 16px;}
}

/* slider */
.slick-slider{ position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list {position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);        transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table; content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{ display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto; border: 1px solid transparent;}

.btn_simple_slider {width: 30px; height: 30px; border-radius: 50%; background: #357C8E; display: block; transition: all .2s linear; position: relative; cursor: pointer; opacity: 1;}
.btn_simple_slider img {width: auto; height: auto; top: 0; bottom: 0;   margin: auto; position: absolute; display: block;}
.btn_simple_slider.prev img {-webkit-transform: scale(-1,1); transform: scale(-1,1); left: 8px;}
.btn_simple_slider.next img {-webkit-transform: scale(1,1); transform: scale(1,1); left: 10px;}
.btn_simple_slider:hover {opacity: .75};

.slider_controls_pos {
  & {position: relative;}
  & .btn_simple_slider  {position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
  & .btn_simple_slider.prev {left: -45px;}
  & .btn_simple_slider.next {right: -45px;}
}

@media (max-width: 1260px) {
  .slider_controls_pos {
    & {padding-bottom: 60px;}
    & .btn_simple_slider  {position: absolute; top: auto; bottom:0;}
    & .btn_simple_slider {left: 0; right: 0; margin: auto;}
    & .btn_simple_slider.prev {-webkit-transform: translateX(-50%); transform: translateX(-50%);}
    & .btn_simple_slider.next {-webkit-transform: translateX(50%); transform: translateX(50%);}
  }
}


.rss_simple_list {
  & {@include new_flex(r,c,c,0); margin-left: -12px; margin-right: -12px;}
  & > .item {-ms-flex: 0 0 auto; flex:0 0 auto; padding: 5px 12px;}
}
.rss_simple_unit {
  & {display: block; border-radius: 50%; width: 26px; height: 26px; cursor: pointer; opacity: 1; transition: all .2s linear;}
  & img {display: block; width: 100%; height: auto;}
  &:hover {opacity: .8;}
}


/*modals*/

.modal_overlay {background: rgba(43,0,75,.95); cursor: pointer; position: fixed; top: 0; left: 0;
  box-sizing: content-box; padding-bottom: 60px; z-index: 500; width: 100%; height: 100%; display: none;}
.modal_wrapper { width: 100%; height: 100%; cursor: pointer; position: absolute; top: 0; left: 0; z-index: 501; font-weight:normal; display: none; overflow: auto;
  flex-direction: row; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center;-ms-flex-wrap: nowrap; flex-wrap: nowrap;}
.modal_wrapper.visible {display: -ms-flexbox !important; display: flex !important;}
.modal_block { display:block;  position: relative; cursor: auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: 100%; max-height: 100%;
  background: #FFF; opacity: 0; -webkit-transform: translateY(-100px); transform: translateY(-100px); transition: all 0s linear; }
.modal_wrapper.visible  .modal_block {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);  transition: all .2s linear;  }

.user_ui_slider  { width: 100%; height: 6px; background: #7EC8CD; border:none !important; cursor: pointer;}
.user_ui_slider  .ui-slider-handle {width: 20px; height: 20px; border-radius: 50%; cursor: pointer; box-shadow: 0 2px 5px 0 #7EC8CD; border:none !important; top:0; margin-top:-8px;
  background: -moz-linear-gradient(90deg, rgb(255, 220, 47) 0%, rgb(255, 184, 0) 100%);
  background: -webkit-linear-gradient(90deg, rgb(255, 220, 47) 0%, rgb(255, 184, 0) 100%);
  background: -o-linear-gradient(90deg, rgb(255, 220, 47) 0%, rgb(255, 184, 0) 100%);
  background: -ms-linear-gradient(90deg, rgb(255, 220, 47) 0%, rgb(255, 184, 0) 100%);
  background: linear-gradient(180deg, rgb(255, 220, 47) 0%, rgb(255, 184, 0) 100%);
}
.user_ui_slider  .ui-slider-handle .ui_value {display: block; position: absolute; top: 100%; left:50%; margin-top: 5px; color:#3B145D;
  -webkit-transform: translateX(-50%); transform: translateX(-50%); font:500 24px/1.2 $family_base; font-style: normal; width: 74px;
  text-align: center; pointer-events: none; -webkit-pointer-events:none;}









































