html {
  * {max-height:100000000px;}
  img {max-height:none;}
}
* { margin:0; padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; outline:none; outline-style:none;
  -ms-text-size-adjust:none; -webkit-text-size-adjust:none; -o-text-size-adjust:none; text-size-adjust:none; /*transform:perspective;*/}
html, body {height:100%;  width:100%;}
li { list-style:none;}
a {
  text-decoration:none; color:inherit;
  img {border:none;}
  &[href^="tel:"],&[href^="mailto:"] {white-space:nowrap;}
}
input, select, button {border:none; outline:none;  box-shadow: none; -webkit-box-shadow: none;
  -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
textarea { border:none; outline:none; resize:none;}
input[type="file"], /* FF, IE7+, chrome (except button) */
input[type="file"]::-webkit-file-upload-button {cursor: pointer; } /* chromes and blink button */
input[type="submit"], input[type="text"],input[type="email"],input[type="tel"],input[type="password"] {-webkit-appearance:none; -moz-appearance:none;}
body { min-width:320px;}
.container { max-width:1184px; width: 100%; margin:0 auto; padding: 0 20px;}
.main_wrap {min-height: 100%; width: 100%; overflow: hidden; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; flex-wrap: nowrap;}
.main_body {width: 100%; -ms-flex: 1 1 auto; flex:1 1 auto; display: block;}
.text_nowrap {white-space: nowrap;}
@media (max-width: 700px) {
  .container {padding:0 8px;}
}
