.header {
  & {@include new_flex(r,j,s,0); padding-top:  34px; padding-bottom: 34px;}
}
.logo {
  & {@include new_flex(r,s,s,0);}
  & > .logo_icon {-ms-flex:0 0 auto; flex:0 0 auto; width: 269px; display: block; margin-top: -14px;}
  & > .logo_icon img { display: block;  width: 100%; height: auto;}
  & > .logo_description {text-align: left; display: block; -ms-flex: 1 1 auto; flex:1 1 auto; padding-left:36px;
    font:400 13px/25px  $family_base; color:$color_text_purple_dark; text-transform: uppercase; letter-spacing: .05em;}
  & > .logo_description b {font-weight: 700;}
}
.head_logo {-ms-flex: 0 0 auto; flex:0 0 auto;}
.head_content {-ms-flex: 1 1 auto; flex: 1 1 auto; text-align: left; padding-left: 48px; padding-top: 7px;}
.head_contacts {-ms-flex:  0 0 auto; flex:0 0 auto;}
.head_content  > .btn {min-width: 210px;}

.head_cnt_phone a {font:900 30px/30px $family_base; color:$color_text_purple_dark; letter-spacing: .065em;}
.head_contacts .rss_line {
  & {margin-top: 13px; float: right;}
  & + *   {clear: both;}
}
.head_contacts:after {content: ''; display: block; clear: both;}
.head_contacts .btn {display: none;}

@media (max-width: 1300px) {
.header_block {background: #FFE000;}
}
@media (max-width: 1100px) {
  .head_cnt_phone a {font-size: 26px; line-height: 26px;}
}

@media (max-width: 1060px) {
  .logo > .logo_icon {width: 200px; margin-top: -8px;}
  .logo > .logo_description {padding-left: 16px;}
  .head_content {
    & {padding-left: 30px;}
    & > .btn {min-width: 184px;}
  }
  .head_cnt_phone a {font-size: 30px; line-height: 30px;}
}
@media (max-width: 1000px) {
  .head_cnt_phone a {font-size: 26px; line-height: 26px;}
}
@media (max-width: 940px) {
  .logo {
    & {-ms-flex-wrap:wrap; flex-wrap:wrap; flex-direction: column;}
    & > .logo_icon {width: 152px;}
    & > .logo_description {width: 100%; padding: 0; margin-top: 15px;}
  }
  .head_content {text-align: center; padding: 7px 10px 0;}
  .head_content .btn_simple {line-height: 48px;}
}
@media (max-width: 760px) {
  .head_cnt_phone a {font-size: 24px; line-height: 24px}
}
@media (max-width: 700px) {
  .head_contacts .btn {display: block; line-height: 48px; margin-top: 24px;}
  .head_contacts .btn .btn_text {font-size: 14px;}
  .header {padding-top: 24px;}
  .head_contacts .rss_line {display: none;}
  .head_content {display: none;}
}

@media (max-width: 460px) {
  .logo > .logo_description {font-size: 12px; line-height: 22px; margin-top: 14px;}
  .head_cnt_phone a {font-size: 14px;}
  .head_contacts .btn {margin-top: 22px;}
}
@media (max-width: 400px) {
  .logo > .logo_description {font-size: 10px;}
  .head_contacts .btn .btn_text {font-size: 12px;}
}


.fluid_header_block {background: #FFE000; position: fixed; top: 0; left: 0; width: 100%; padding: 12px 0; z-index: 30;
  box-shadow: 0 5px 12px 0 rgba(87,18,123,.7); @include do_p_e_none(); opacity: 0; visibility: hidden; transition: all .2s linear;}
.fluid_header_block.stick {visibility: visible; opacity: 1; @include do_p_e_auto();}
.fluid_header {
  & {@include new_flex(r,s,c,0);}
}
.fluid_header_logo {-ms-flex: 1 1 auto; flex:1 1 auto;
  text-align: left; font: 400 13px/18px "DIN Pro", sans-serif; color:#4B1E6D; text-transform: uppercase; letter-spacing: .05em;
}
.fluid_header_content  {-ms-flex: 0 0 auto; flex:0 0 auto; padding: 0 35px; text-align: center;}
.fluid_header_content .btn_simple {line-height: 54px; padding: 0 20px;}
.fluid_head_contacts {
  & {-ms-flex: 0 0 auto; flex:0 0 auto; text-align: right;}
  & .phone {font: 900 24px/24px "DIN Pro", sans-serif; color: #4B1E6D; letter-spacing: .065em;}
  & .rss_line { margin-top: 10px; float: right;}
}
.fluid_head_contacts:after {content: ''; display: block; clear: both;}

@media (max-width: 840px) {
  .fluid_head_contacts .phone {font-size: 22px; line-height: 22px;}
  .fluid_header_content {padding: 0 15px;}
}

@media (max-width: 760px) {
  .fluid_header_logo {font-size: 11px;}
  .fluid_header_content {padding: 0 15px;}
  .fluid_head_contacts .phone {font-size: 18px; line-height: 18px;}
  .fluid_head_contacts .rss_line {margin-top: 6px;}
  .fluid_head_contacts .btn_simple > .btn_text {font-size: 14px;}
}
@media (max-width: 650px) {
  .fluid_header_logo {font-size: 11px;}
  .fluid_header_logo br {display: none;}
  .fluid_header {-ms-flex-wrap: wrap; flex-wrap:wrap;}
  .fluid_header_logo { font-size: 12px; line-height: 14px; width: 100%; -ms-flex:0 0 auto; flex:0 0 auto; margin-bottom: 10px; text-align: center;}
  .fluid_header_content {padding: 0 6px 0 0;}
  .fluid_head_contacts {-ms-flex: 1 1 auto; flex:1 1 auto;}
  .fluid_head_contacts .phone {font-size: 22px; line-height: 22px;}
}
@media (max-width: 420px) {
  .fluid_head_contacts .phone {font-size: 20px; line-height: 20px;}
}
@media (max-width: 400px) {
  .fluid_header_content .btn_simple {padding: 0 10px;}
  .fluid_header_content .btn_simple > .btn_text {font-size: 14px;}
  .fluid_header_logo {text-align: left;}
}
@media (max-width: 350px) {
  .fluid_header_content .btn_simple {padding: 0 4px;}
  .fluid_header_content .btn_simple > .btn_text {font-size: 13px;}
  .fluid_head_contacts .phone {font-size: 18px; line-height: 18px;}
  .fluid_header_content {padding-right: 3px;}
}




@media (max-width: 700px) {
  .header_block {display: none !important;}
  .fluid_header_block {opacity: 1; display: block; position: relative; @include do_p_e_auto(); visibility: visible; z-index: 10; box-shadow: none;}
}